@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Protest+Strike&display=swap');

h1{
    
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-align:center;
    background-color:rgb(114, 194, 226)
}

body{
    background-color:rgba(20, 79, 160, 0.3);
}

h4{
    text-align:center;
}
p{font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
}
